body {
  margin: 0;
  font-family: "DIN Condensed", Arial, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item:hover {
  border-style: solid;
  border-color: blueviolet;
  border-width: 2px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
  transition: filter 0.5s, transform 0.5s, opacity 0.5s;
}

.gallery-item:hover img {
  filter: grayscale(100%) blur(2px);
  opacity: 0.4;
  transform: scale(1.1);
}

.description {
  position: absolute;
  bottom: 34px;
  left: 20px;
  color: #fff;
  padding: 10px;
  width: calc(100% - 40px);
  transition: transform 0.5s;
}

.description h2,
.description p {
  margin: 0;
  padding: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.description h2 {
  font-size: 24px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 38px;
}

.description h2 span {
  display: block;
}

.description p {
  opacity: 0.8;
  margin-top: 14px;
  font-size: 14px;
}

.gallery-item:hover .description h2,
.gallery-item:hover .description p {
  transform: translateY(-14px);
  opacity: 1;
}

.gallery-item:hover .description a {
  opacity: 1;
}

@media (max-width: 600px) {
  .gallery {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
  }

  .gallery-item {
    flex: 1 1 25%;
    height: 100%;
  }

  .gallery-item img {
    height: 100%;
    object-fit: cover;
  }

  .description {
    display: none;
  }
}
